*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,
a,
input,
button,
select,
option {
    list-style: none;
    text-decoration: none;
    background: none;
    outline: none;
    border: none;
}
body{
    font-family: sans-serif;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
}
.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

:root {
    --color: #1F3766;
    --color1: #272727;
    --color2:  #D9D9D9;
    --color3: #3460AE;
    --color4: #9F9F9F;
    --color5: #9F9F9F;
    --color6: #EEEEEE;
    --color7: #102349;
    --color8: #F9F9F9;
    --color9: rgba(52, 96, 174, 0.5);
    --color10: #FFFFFF;
    --color11: #C54942;
    --color12: #57CF72;
    --color13: #214A90;
    --color14: #F5F5F5;
    --color15: #214A90;
}